[Unit]
Description = 'HashiCorp Consul - Web Proxy'
Documentation = https://www.consul.io/
Requires = network-online.target
After = network-online.target
ConditionFileNotEmpty = /etc/consul.d/web.json

[Service]
Type = simple
User = root
Group = root
ExecStart = /usr/local/bin/consul connect proxy -sidecar-for web
ExecReload = /usr/local/bin/consul reload
ExecStop = /usr/local/bin/consul leave
KillMode = process
Restart = on-failure
LimitNOFILE = 65536

[Install]
WantedBy = multi-user.target