[Unit]
Description=Nomad Agent
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
EnvironmentFile=/etc/nomad.d/nomad.hcl
ExecStart=/usr/bin/nomad agent -config /etc/nomad.d -bind='{{ GetInterfaceIP "eth1" }}' $FLAGS
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
User=root
Group=root

[Install]
WantedBy=multi-user.target